<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Andrew VanderLeest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(static/images/user-3.png);"></div>
							<h1><span>Andrew VanderLeest</span></h1>
							<h3><span>Python Developer</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://twitter.com/vandy_dev"><i class="icon-twitter2"></i></a></li>
									<!-- <li><a href="https://www.facebook.com/profile.php?id=100051698686581"><i class="icon-facebook2"></i></a></li> -->
									<li><a href="https://www.linkedin.com/in/andrew-vanderleest-486832229/"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://github.com/bluescreenlife"><i class="icon-github2"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Andrew VanderLeest</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">612-387-4269</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">vandydevelops@gmail.com</span></li>
						<!-- <li><span class="first-block">Website:</span><span class="second-block">www.vandy.dev</span></li> -->
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>I'm a self-taught developer and previous special educator with a passion for technological innovation and helping people, now determined to facilitate meaningful connections between the two. I am detail oriented, extroverted, empathetic and self-motivated.</p>
					<p>I've spent the past year teaching myself the Python programming language, from "Hello World" to web scraping, API creation and RESTful routing, webserver deployment, to data analysis, visualization, and creating prediction models. This website showcases my skills and several portfolio projects I've built along the way.</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/vandy_dev"><i class="icon-twitter2"></i></a></li>
							<!-- <li><a href="https://www.facebook.com/profile.php?id=100051698686581"><i class="icon-facebook3"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/andrew-vanderleest-486832229/"><i class="icon-linkedin2"></i></a></li>
							<li><a href="https://github.com/bluescreenlife"><i class="icon-github2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Python Skillset</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-browser"></i>
							</span>
							<div class="feature-copy">
								<h3>API & Webserver</h3>
								<p>Requests, Flask, Jinja, Flaskform/WTForms, Flask-Login, Flask-SQLalchemy, authentication, Werkzeug security</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>GUI</h3>
								<p>Experience with Tkinter for GUI development and Turtle for simple games. See my photo watermarking app and my re-creation of Frogger below.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Scraping</h3>
								<p>Strong experience with BeautifulSoup & Selenium Webdriver; I used these both in developing my BrewBites project below.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Data Analysis</h3>
								<p>I've worked with Pandas, Matplotlib, Plotly, Seaborn, SciKitLearn, and NumPy to sort, organize, analyze, and visualize data.</p>
							</div>
						</div>

					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-git"></i>
							</span>
							<div class="feature-copy">
								<h3>Version Control</h3>
								<p>GitHub; committing, branching, merging, forking, pull requests. My entire self-taught learning progression is viewable on my Github profile.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-puzzle"></i>
							</span>
							<div class="feature-copy">
								<h3>Miscellaneous</h3>
								<p>JSON, SMTP, datetime, time, requests, dotenv libraries, and many other common useful Python tools.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Work</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="http://www.brewbites.net/breweries" class="work" style="background-image: url(static/images/portfolio-1.png);">
						<div class="desc">
							<h3>BrewBites</h3>
							<span>Full Stack Web App: Database, Server, and Site. Scrapes local brewey food truck listings daily and displays the pairings in one place.</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/bluescreenlife/100-days-of-code/tree/main/day_29_password_manager" class="work" style="background-image: url(static/images/portfolio-2.png);">
						<div class="desc">
							<h3>Password Manager App</h3>
							<span>GUI</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/bluescreenlife/100-days-of-code/blob/main/day_53_capstone_autmated_data_entry/main.py" class="work" style="background-image: url(static/images/portfolio-3.png);">
						<div class="desc">
							<h3>Zillow Bot</h3>
							<span>Automated Scraping & Data Entry</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/bluescreenlife/100-days-of-code/tree/main/day_23_capstone_turtle_crossing" class="work" style="background-image: url(static/images/portfolio-4.png);">
						<div class="desc">
							<h3>"Frurtle" (Frogger in Turtle)</h3>
							<span>Game: A simple recreation of Frogger using the Turtle library.</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/bluescreenlife/100-days-of-code/tree/main/day_39-40_capstone_cheap_flight_finder" class="work" style="background-image: url(static/images/portfolio-5.png);">
						<div class="desc">
							<h3>Cheap Flight Finder</h3>
							<span>API & Object-Oriented Programming: Takes a Google Sheet of flight criteria, searches for matches within given price range, and notifies the user via email.</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/bluescreenlife/100-days-of-code/tree/main/day_71_webapp_deployment" class="work" style="background-image: url(static/images/portfolio-6.png);">
						<div class="desc">
							<h3>Blog Site</h3>
							<span>Full stack blog site: PostgreSQL db, user and admin account functionality, WTForms for rich text capabilities.</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/bluescreenlife/100-days-of-code/blob/main/day_85_portfolio_watermark_app/main.py" class="work" style="background-image: url(static/images/portfolio-7.png);">
						<div class="desc">
							<h3>WaterMarkIt!</h3>
							<span>A photo-watermarking app built with Tkinter.</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/bluescreenlife/100-days-of-code/blob/main/day_81_capstone_predict_house_prices/Multivariable_Regression_and_Valuation_Model_(start).ipynb" class="work" style="background-image: url(static/images/portfolio-8.png);">
						<div class="desc">
							<h3>Real Estate Prices Prediciton Model</h3>
							<span>A data exploration and linear regression prediction model project using Pandas, Matplotlib, Numpy, and Seaborn.</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Licensed Special Education Case Manager</h3>
									<span class="company">Lionsgate Academy - 2018 - 2023</span>
								</div>
								<div class="timeline-body">
									<p>Administered standardized skill assessments, developed and coordinated educational plans to target skill deficits in learners on the Autism spectrum. Coordinated and led a teams of related stakeholders.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Special Education Assistant</h3>
									<span class="company">Spero Academy - 2014 - 2018</span>
								</div>
								<div class="timeline-body">
									<p>Directly supported students with cognitive, behavioral, emotional, and developmental challenges throughout all aspects of the school day, including speech, occupational, and music therapy services. Implemented behavior interventions and personal care assistance as needed.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Applied Behavior Analysis Line Therapist</h3>
									<span class="company">Autism and Behavior Center - 2013 - 2014</span>
								</div>
								<div class="timeline-body">
									<p>Provided in-home delivery of services for children with autism through a broad spectrum of advanced therapeutic and educational programs. Utilized empirically supported intervention procedures within a developmental framework through Applied Behavioral Analysis (ABA).</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Systems Management & Configuration Technician</h3>
									<span class="company">UW-Eau Claire - 2013</span>
								</div>
								<div class="timeline-body">
									<p>Assited with software packaging, deployment, and campus wide system monitoring. Prepared software for remote deployment to campus computers through Microsoft Systems Center Configuration Manager, and worked to remedy inconsistencies in software installations campus-wide.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Help Desk Technician - Learning & Technology Services</h3>
									<span class="company">UW-Eau Claire - 2010 - 2013</span>
								</div>
								<div class="timeline-body">
									<p>Provided support for campus technology issues related to hardware, software, networking, campus websites and systems, mobile devices, and software training for students, staff, and faculty.</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Master's Degree</h3>
									<span class="company">University of St. Thomas - 2018</span>
								</div>
								<div class="timeline-body">
									<p>M.A. in Special Education & Teaching, Summa Cum Laude honors, 3.9 GPA</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelor's Degree</h3>
									<span class="company">University of Wisconsin - Eau Claire - 2014</span>
								</div>
								<div class="timeline-body">
									<p>B.S. in Communication Sciences & Disorders, 3.8 Program GPA</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- <div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>jQuery</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>PHP</strong>89%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>AngularJS</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Ruby</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Java</strong>90%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">WordPress</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">PHP</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Design</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Ruby</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">jQuery</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Proof of Work</h2>
					<p>Self-taught candidates are inherently a riskier hire compared to degree holders, as it's difficult to easily verify their knowledge.
						For this reason I've logged my progress weekly on a dedicated X account since I began learning to code a year ago, with details and
						comments along the way.
					</p>
					<a class="twitter-timeline" data-height="1000" data-dnt="true" data-theme="dark" href="https://twitter.com/vandy_dev?ref_src=twsrc%5Etfw">Tweets by vandy_dev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<br>
					<p>I've also committed just about everything I've learned/created to GitHub along the way, so that my heat-map represents my learning-to-code 
						activity during this time. You can review my GitHub profile <a href="https://github.com/bluescreenlife">here</a>.<br>
					</p>
					<img src="https://ghchart.rshah.org/EF9730/bluescreenlife" class="centered-image" alt="bluescreenlife's github heatmap" />
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/portfolio-1.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Photoshoot On The Street</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/portfolio-2.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Surfing at Philippines</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/portfolio-3.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Capture Living On Uderwater</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
			</div> -->
		</div>
	</div>
	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Let's Connect</h2>
					<p>I would love to chat about my skillset and fit for your company or organization. Reach out any time.</p>
					<p><a href="https://www.linkedin.com/in/andrew-vanderleest-486832229/" class="btn btn-default btn-lg">Contact Me</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(static/images/cover_bg_3.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>{{ contact_header }} </h2>
			{% if contact_header == 'Contact' %}
			<form action="{{ url_for('index') }}", method="post">
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="fname" name="fname" class="form-control" placeholder="First" required>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="lname" name="lname" class="form-control" placeholder="Last" required>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Message" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>	
			{% endif %}
		</div>
	</div>

	<!-- <div id="map" class="fh5co-map"></div> 
	</div> -->
	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="static/js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="static/js/google_map.js"></script>
	
	<!-- Main -->
	<script src="static/js/main.js"></script>

	</body>
</html>

